<div class="footer-top">
    <div class="container top-border">
        <div class="row">
            <div class="col-lg-4 col-md-6 footer-contact">
                <h3>Your Site Name Here</h3>
            </div>
        </div>
    </div>
</div>
<div class="container footer-bottom clearfix">
    <div class="copyright">
        &copy; Copyright <span class="copyright-year">2025</span> <strong><a href="https://www.dwdeveloper.com" target="_blank">DwDeveloper</a></strong>. All Rights Reserved
    </div>
</div>
